.colonne {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  height: 100vh;
  max-height: 100%;
}

.colonne > aside {
  border-right: 1px solid lightsteelblue;
}

.colonne > aside > h4 {
  border-bottom: 1px solid lightgray;
  margin-top: 1rem;
  text-align: center;
  color: orange;
}

.colonne > aside ul {
  list-style-type: none;
}

.colonne > aside ul li {
  padding-top: 1rem;
}

.colonne > aside,
.colonne > main {
  padding: 1rem;
}
