<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gru Gru Home Page</title>
    <style>
      h1 {
        font-size: 72px;
        background: #a7cfdf;
        background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    </style>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contatti">Contatti</a></li>
        <li><a href="/documentazione">Documentazione</a></li>
      </ul>
    </nav>
    <h1>Gru Gru</h1>
    <p>Benvenuti, sei pronto per usare il framewrok</p>
  </body>
</html>
